{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->

<div class="bio-container">
    <image height="300px" src="{{ img('fish', 'fish outline.jpg') }}"></image>
    <div class="bio-text" style="text-align:left;">
        <h2 style="text-align:left;">The Land of Rivers</h2>
        <p>“Umi ni oite dai sakana nashi” (海に置いて大魚なし),
        </p>
        <p>"In the sea, there are no big fish."
        </p>
    </div>
    <image height="300px" src="{{ img('fish', 'no fish.jpg') }}"></image>
</div>
<div class="bio-container">
    <image height="300px" src="{{ img('fish', 'no sub.jpg') }}"></image>
    <image height="300px" src="{{ img('fish', 'full.jpg') }}"></image>
</div>

<div class="bio-container">
  <div class="iframe-wrapper">
    <iframe
      src="https://drive.google.com/file/d/1HbtgJBMA1PF065dIGyaITdW0obwVOD39/preview"
      allow="autoplay"
      loading="lazy">
    </iframe>
  </div>
</div>

{% endblock %}