{% extends "layout.html" %}

{% block title %}| Collaborations{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<div class="bio-container" style="padding-top: 5vh;">
    
    <img class="gif-image" src="{{ img('processing', 'output.gif') }}" alt="gif">

    <div class="bio-text" style="text-align:left; max-width: 100vw; padding-left: 5vw; padding-right: 5vw;">
        <h2>What Brings You Here</h2>
        <p>This piece was my first ever homework submission at Harvard. It was created using Processing, 
            a Java-based programming language that accommodates interactive visual arts. I wanted to create
            an input-based program that suggests different activities for other first-year college students, 
            given the plethora of options available, just like the colors of candies in a jar. There is a sense 
            of randomness and surprise, which might seem contradictory to the meticulous planning that most 
            students do when thinking about their future.

            This project is supposed to be interactive. Here, I have included a gif of what it looks like
            when different inputs are entered.
        </p>
    </div>
    <div></div>
    <img class="gif-image" src="{{ img('processing', 'output.gif') }}" alt="gif" style="filter:grayscale(100%)">
</div>


{% endblock %}
{% block footer %}
<!-- Contact information for the studio -->
<a href="https://www.instagram.com/recit.stu/" target="_blank" style="text-decoration: none">
    <img src="{{ img('other', 'ig.png') }}" alt="Instagram" class="contact-logo">
</a>

<a href="mailto:recitfilmmaking@gmail.com" target="_blank" style="text-decoration: none">
    <img src="{{ img('other', 'mail.png') }}" alt="Gmail" class="contact-logo">
</a>

<a href="https://www.facebook.com/recit.stu" target="_blank" style="text-decoration: none">
    <img src="{{ img('other', 'fb.png') }}" alt="Facebok" class="contact-logo">
</a>
{% endblock %}