{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<script src="{{ url_for('static', filename='clickimage.js') }}"></script>

<div class="masonry">
    {% for filename in gallery_images('portal') %}
    <div class="item">
        <a href="{{ img('portal', filename) }}" class="lightbox">
            <img src="{{ img('portal', filename) }}" alt="Image">
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}