{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<script src="{{ url_for('static', filename='clickimage.js') }}"></script>
<div class="masonry">

    <div class="item">
        <a href="{{ img('street', '1A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '1A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '1B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '1B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '1C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '1C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '2A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '2A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '2B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '2B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '2C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '2C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '3A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '3A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '3B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '3B.jpg') }}" alt="Image 2">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '3C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '3C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '4A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '4A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '4B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '4B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '4C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '4C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '5A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '5A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '5B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '5B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '5C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '5C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '6A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '6A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '6B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '6B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '6C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '6C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '7A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '7A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '7B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '7B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '7C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '7C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '8A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '8A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '8B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '8B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '8C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '8C.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '9A.jpg') }}" class="lightbox">
            <img src="{{ img('street', '9A.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '9B.jpg') }}" class="lightbox">
            <img src="{{ img('street', '9B.jpg') }}" alt="Image 1">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('street', '9C.jpg') }}" class="lightbox">
            <img src="{{ img('street', '9C.jpg') }}" alt="Image 1">
        </a>
    </div>



</div>

{% endblock %}