{% extends "layout.html" %}

{% block title %}| Personal{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Subnavigation page for displaying project --->
<script src="{{ url_for('static', filename='clickimage.js') }}"></script>
<div class="masonry">
    <div class="item">
        <a href="{{ img('self', '1A.jpg') }}" class="lightbox">
            <img src="{{ img('self', '1A.jpg') }}" alt="1A">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '1B.jpg') }}" class="lightbox">
            <img src="{{ img('self', '1B.jpg') }}" alt="1B">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '1C.jpg') }}" class="lightbox">
            <img src="{{ img('self', '1C.jpg') }}" alt="1C">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '2A.jpg') }}" class="lightbox">
            <img src="{{ img('self', '2A.jpg') }}" alt="2A">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '2B.jpg') }}" class="lightbox">
            <img src="{{ img('self', '2B.jpg') }}" alt="2B">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '2C.jpg') }}" class="lightbox">
            <img src="{{ img('self', '2C.jpg') }}" alt="2C">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '3A.jpg') }}" class="lightbox">
            <img src="{{ img('self', '3A.jpg') }}" alt="3A">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '3B.jpg') }}" class="lightbox">
            <img src="{{ img('self', '3B.jpg') }}" alt="3B">
        </a>
    </div>
    <div class="item">
        <a href="{{ img('self', '3C.png') }}" class="lightbox">
            <img src="{{ img('self', '3C.png') }}" alt="3C">
        </a>
    </div>



</div>

{% endblock %}