{% extends "layout.html" %}

{% block title %}| Design{% endblock %}
{% block extra_css %}
<link href="/static/css/body.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--- Navigation page for displaying collaborative work and commissions --->
<h1 style="text-align: center; margin: 40px; font-family: 'BHN Cinema'; color: white; font-size: 4vw">Design
</h1>
<div class="thumbnail-container">
    <div class="thumbnail">
        <a href="olympics">
            <img src="{{ img('client', '6Artboard.jpg') }}" alt="CNN Olympics" style="height: 300px;">
            <div class="thumbnail-content">
                <div class="thumbnail-header">CNN Olympics</div>
                <div class="thumbnail-description">
                    Commissioned logos for CNN Hội Thao
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Contractor
                </div>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <a href="recit">
            <img src="{{ img('art_direction', 'recit.jpg') }}" alt="Recit" style="height: 300px;">
            <div class="thumbnail-content">
                <div class="thumbnail-header" href="recit">Recít Film Studio
                </div>
                <div class="thumbnail-description">
                    Hanoi's dynamic studio weaving cinematic tales, captivating hearts with immersive storytelling
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Art director
                </div>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <a href="https://www.facebook.com/official.ivmun">
            <img src="{{ img('art_direction', 'ivmun.jpg') }}" alt="CEC" style="height: 300px;">
            <div class="thumbnail-content">
                <div class="thumbnail-header">International Vietnam Model United Nations
                </div>
                <div class="thumbnail-description">
                    Biggest Model UN in Vietnam with annual conference participation up to 1000 people of many
                    countries besides Vietnam
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Co-head of Design
                </div>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <a href="highlander">
            <img src="{{ img('art_direction', 'highlander.jpg') }}" alt="TeddeAh!" style="height: 300px;">
            <div class="thumbnail-content">
                <div class="thumbnail-header">CNN English Club - Highlander
                </div>
                <div class="thumbnail-description">
                    A short film production team for CEC Oscar - a film event of CNN English Club
                </div>
                <div class="thumbnail-description" style="color:#bbb;">
                    Director
                </div>
            </div>
        </a>
    </div>

    <div class="thumbnail">
        <img src="{{ img('client', 'cec.png') }}" alt="CEC">
        <div class="thumbnail-content">
            <div class="thumbnail-header">CNN English Club</div>
            <div class="thumbnail-description">
                Commissioned posters and tickets for CNN English Club
            </div>
            <div class="thumbnail-description" style="color:#bbb;">
                Completed: 2023
            </div>

        </div>
    </div>

    <div class="thumbnail">
        <img src="{{ img('client', 'teddeah!.png') }}" alt="TeddeAh!">
        <div class="thumbnail-content">
            <div class="thumbnail-header">CNN Dance Club - TeddeAh!</div>
            <div class="thumbnail-description">
                Commissioned logo for TeddeAh! - a competitive dance group from CNN Dance Club
            </div>
            <div class="thumbnail-description" style="color:#bbb;">
                Completed: Jul 2022
            </div>

        </div>
    </div>
</div>
{% endblock %}
<!--- Additional footer detail --->
{% block footer%} <a class="com-footer" style="text-decoration: none; color: #888" href="about">Commission me on
    Instagram!</a> {%endblock%}
